h1 {
	font-family: 'Lobster', cursive;
}
h2 {
	font-family: 'Julius Sans One', sans-serif;
	font-weight: bold;
}
li {
	font-family: 'Bangers', cursive;
	font-size: 30px;
}
p  {
	font-family: 'Pinyon Script', cursive;
	font-size: 90px;
	font-weight: bold;
}